.settings-container{
    display: flex;
    gap: 4px;
    align-items: center;
    flex-direction: column;
}

.btn{
    width: 3.2rem;
    height: 2.6rem;
    border: none;
    background-color: inherit;
}
.btn:hover{
    cursor: pointer;
    background-color: #ebebebcc;
}

.btn-clicked{
    background-color: #fff8f870;
    border-radius: .1rem;
    box-shadow: -1px 1px 4px #2bde42;
}

.btn svg{
    width: 2rem;
    height: 2rem;
}